

h1 { font-size:70px; color:#FF0000; font-family: Georgia; font-weight: initial;}

h2 {font-size:30px; color:#00FFFF; font-family:Georgia; font-weight: initial; } 

h3 {font-size:35px; color:#FF0000; font-family:Georgia; font-weight: initial; } 

h3 span { color:#0000FF }

h4 {font-size:20px; color:#000000; font-family:Calibri; font-weight: initial; }

h4 span { color: #3F00FF }

h1 span { font-size:15px; color:#0000FF; }

h5 { font-size:15px; color:#F000000; font-family: Georgia; font-weight: initial; }



